@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFB;
    color: #374151;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

h2 {
    color: #1E3A8A;
}

header {
    background-color: #1E3A8A;
    color: #FFFFFF;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
}

nav a{
    background-color: #2563EB;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

}

nav a:hover{
  background-color:#60A5FA;
}

#sobre {
    background-color: #FFFFFF;
    color: #374151;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.categoria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.produto {
    background-color: #FFFFFF;
    color: #374151;
    width: 260px;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#pedidos {
    background-color: #FFFFFF;
    color:#374151;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

#contato {
    background-color: #FFFFFF;
    color: #374151;
    text-align: center;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contato a {
    background-color: #2563EB;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
    background-color: #1E3A8A;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;

}

footer a {
    color:#FFFFFF;
    text-decoration: none;

}
button {
    background-color: #2563EB;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
    background-color: #60A5FA;
}